@use 'variables' as vars;

@mixin breakpoint($point) {
  @if $point == largedesktop {
    @media (max-width: 1920px) and (min-width: 1441px) {
      @content;
    }
  }
  @if $point == desktop {
    @media (max-width: 1440px) and (min-width: 1025px) {
      @content;
    }
  } @else if $point == tablet {
    @media (max-width: 1024px) and (min-width: 768px) {
      @content;
    }
  } @else if $point == tabletmobile {
    @media (max-width: 1024px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == mobileandrotate {
    @media (max-width: 767px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == mobilerotate {
    @media (max-width: 767px) and (min-width: 479px) {
      @content;
    }
  } @else if $point == mobile {
    @media (max-width: 480px) and (min-width: 320px) {
      @content;
    }
  } @else if $point == smallmobile {
    @media (max-width: 650px) and (min-width: 568px) {
      @content;
    }
  } @else if $point == rotate {
    @media (max-height: 550px) and (min-height: 0) {
      @content;
    }
  }
}

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin button-dark($bg-color: vars.$color-black, $color: vars.$color-white) {
  display: inline-block;
  padding: 16px 24px;
  border-radius: 28px;
  color: $color;
  background-color: $bg-color;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
} 

@mixin button-pink-orange($color: vars.$color-white) {
  display: inline-block;
  background: vars.$gradient-pink-orange;
  padding: 16px 24px;
  border-radius: 28px;
  color: $color;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
}

@mixin button-blue-pink($color: vars.$color-white) {
  display: inline-block;
  background: vars.$gradient-blue-pink;
  padding: 16px 24px;
  border-radius: 28px;
  color: $color;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  border: none;
}

@mixin breakpoint-up($bp) {
  @if $bp == tablet {
    @media (min-width: vars.$bp-tablet) {
      @content;
    }
  }

  @if $bp == tablethorizontal {
    @media (min-width: vars.$bp-tablet-landscape) {
      @content;
    }
  }

  @if $bp == desktop {
    @media (min-width: vars.$bp-desktop) {
      @content;
    }
  }

  @if $bp == desktopxl {
    @media (min-width: vars.$bp-desktop-small) {
      @content;
    }
  }
}