$primary-font: "Plus Jakarta Sans", sans-serif;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-tablet-landscape: 1024px;
$bp-desktop-small: 1200px;
$bp-desktop: 1440px;

/// Colors
$color-light-blue: #666CA3;
$color-dark-blue: #13183F;
$color-light-gray: #F5F5F5;
$color-dark-gray: #83869A;
$color-white: #FFFFFF;
$color-black: #000000;
$color-ligth-pink : #FFA7C3;
$color-dark-pink : #F74780;
$color-orange: #FF6F48;
$color-magenta: #F02AA6;


// gradients
$gradient-pink-orange: linear-gradient(180deg, #F02AA6, #FF6F48);
$gradient-blue-pink: linear-gradient(180deg, #4851FF, #000000);

// fonts
$font-size-small: 16px;
$font-size-medium: 24px;
$font-size-large: 32px;
$font-size-xlarge: 40px;














