@use "../abstracts/variables" as vars;
@use "../abstracts/mixins" as mixins;

footer {
  background-color: vars.$color-dark-blue;
  padding: 40px 0;
  color: vars.$color-white;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-logo {
  img {
    filter: brightness(0) invert(1);
    width: 120px;
    
    @include mixins.breakpoint-up(tablet) {
      width: 150px;
    }
    
    @include mixins.breakpoint-up(desktop) {
      width: 180px;
    }
  }
}

footer .button {
  @include mixins.button-blue-pink;
} 